<body class="main">
  <h1>Launchpads</h1>
  <div class="container">
    <div class="row">
      <% @launchpads.each do |launchpad| %>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="item">
            <div class="img">
              <% if launchpad.image == nil %>
                <%= image_tag("launch.jpg", alt: "Default Launchpad Image", class: "img-thumbnail") %>
              <% else %>
                <%= image_tag(launchpad.image, alt: "Image of #{launchpad.name}", class: "img-thumbnail") %>
              <% end %>
            </div>
            <h4><%= link_to launchpad.name, launchpad %></h4>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= paginate @launchpads %>
</body>