<div class="container">
  <h1>About Us</h1>
  <p>Welcome to the SpaceX Launches Website!</p>
  <p>This website hosts data about SpaceX launches, rockets, launch pads and crew members.</p>
  <p>The API that I’ll be using will be the SpaceX REST API (<a href="https://github.com/r-spacex/SpaceX-API?tab=readme-ov-file">https://github.com/r-spacex/SpaceX-API?tab=readme-ov-file</a>).
    I’ll be using data such as rockets, crew members, launch pads, and launches. The data will be structured based on my Database ERD and in hierarchical order.
    I will be using a rockets table, a crews table, a launch pads table, and a joiner launches table.
  </p>
  <%= image_tag("ERD.drawio.png", id: "erd", alt: "ERD of SpaceX Launches Website", class: "img-thumbnail") %>
</div>
